.header
  i.fa.fa-exchange-alt.fa-lg.toggle-sidebar
  .dropdown.notifications-container
    i.fa.fa-bell.fa-lg.toggle-notifications#notifications(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    .dropdown-menu(aria-labelledby='notifications')
      | Notification
